@media (min-width: 992px) {
  .container.content {
    width: 760px;
  }
}

body {
  font-family: Lucida, sans-serif;
}

.reading {
  font-family: Georgia, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.01em;
  line-height: 1.5em;
}

.reading p {
  margin-bottom: 18px;
}

.reading p.lead {
  font-family: Lucida, sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
}
