<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{= it.document.title }}GEMUZON</title>
</head>
<body role="document">
  <header>
    <nav class="navbar navbar-static-top navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GEMUZON</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--
            <li><a href="#">Articles</a></li>
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Monogatari - JS Game Engine</li>
                <li role="presentation">
                  <a href="http://github.com/gemuzon/monogatari">
                    <span class="glyphicon glyphicon-link"></span>
                    Source
                  </a>
                </li>
                <li role="presentation" class="disabled">
                  <a href="http://github.com/gemuzon/monogatari">
                    <span class="glyphicon glyphicon-book"></span>
                    Documentation
                  </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Latest Release</li>
                <li role="presentation">
                  <a href="https://github.com/gemuzon/monogatari/archive/0.0.1.zip">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    monogatari-0.0.1.zip
                  </a>
                  <a href="https://github.com/gemuzon/monogatari/archive/0.0.1.tar.gz">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    monogatari-0.0.1.tar.gz
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <a href="chrysthian.html">
                    Chrysthian Akihiro
                  </a>
                </li>
                <li role="presentation">
                  <a href="marciolucca.html">
                    Marcio Lucca
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <!--
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
          </ul>
          -->
        </div>
      </div>
    </nav>
  </header>

  <div class="container content">
    {{= it.document }}
  </div>

  <hr>

  <footer style="text-align:center;">
    <div class="container">
      <p class="text-muted">
        GEMUZON - Gaming research group<br>
      </p>
      <p class="text-muted">
        Created and maintened by
        <a href="chrysthian.html">Chrysthian Akihiro</a> and
        <a href="marciolucca.html">Marcio Lucca</a>
      </p>
      <!--
      <p class="text-muted">Articles licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC 3.0</a>.</p>
      -->
  </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
