@font-face {
    font-family: 'inconsolata';
    src: url('../fonts/inconsolata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#main {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin: auto 0;
    text-align: center;
    font-family: 'inconsolata', sans-serif;
    font-size: 60px;
}